<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://i.stack.imgur.com/luaq2.png"  height="200px" >
  </div>
  <div class="big-card__title">
   <h1>
     <a href="#">Saiu a nova versão do Angular</a>
   </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id magni aspernatur rem assumenda, ex illum magnam. Perspiciatis, nostrum voluptas officia iure quidem reprehenderit eaque molestiae sequi non, explicabo molestias neque.
      </a>
    </p>
  </div>
</div>
